/* *{
    padding: 0;
    margin: 0;
}
.div-geral{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF39A;
    height: 100vh;
}
.formulario-container{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 35%;
    justify-content: start;
    border-radius: 25px;
    font-size: 1.5rem;
    border: solid 1px gray;
}
.div-titulo-imagem{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.div-cadastro-titulo{
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.formulario-inputs{
    height:80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 25px;
    
}
.titulo-input{
    width: 80%;
    align-self: center;
}
input{
    width: 80%;
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 6vh;
    border: 0;
    align-self: center;
    max-height: 25px;
    font-size: 2em;
}
button{
    align-self: center;
    background-color: #FFF39A;
    height: 4.5vh;
    width: 20vw;
    border-radius: 15px;
    font-size: 2rem;
    border: 0;
}
.troca-tela{
    align-self: center;
}
select{
    width: 80%;
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 6vh;
    border: 0;
    align-self: center;
    max-height: 25px;
    font-size: 1.5rem;
}
a{
    align-self: center;
} */





/* Reset de estilos e definição de box-sizing */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Variáveis CSS */
:root {
    --autura-header: 100vh;
    --largura-all: 100%;
  }
  
/* Estilos gerais do body */
body {
    line-height: 1.6;
    height: var(--autura-header);
    width: var(--largura-all);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_section1{
    width: 45%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(129, 129, 129);
}
.logo{
    background-color: #FFF39A;
    height: 12%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formulario{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario div{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.nome{
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    
}
.nome input[type=text]{
    background-color: #b1acac;
    border-radius: 5px;
    height: 55%;
    width: 100%;
    padding: 1rem;
}
select, input[type=text], input[type=password], input[type=number]{
    background-color: #b1acac;
    border-radius: 5px;
    height: 35%;
    font-size: 180%;
    padding: 1rem;
}
label {
    font-size: 150%;
}
input::placeholder {
    color: #0c0c0c;
}
.div_button{
    width: 100%;
    height: 25%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #FBE969;
    height: 45%;
    width: 50%;
    font-size: 200%;
    padding: 10px 20px;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button:hover{
    background-color: #c9bf75;
    cursor: pointer;
}

.big_logo{
    height: 25% !important;
}
.button_min{
    /* background-color: #0c0c0c; */
    height: 50% !important;   
}
.button_min div{
    display: flex;
    gap: 10%;
}
.button_min div button{
    height: 90% !important;
}

@media (max-width: 768px) {
    .container_section1 {
        width: 85%;
    }

    .btn-login {
        font-size: 100%;
    }
}