* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --borda-padrao-box: 0.35vh #dde1e6 solid;
    --fontsize-tipo1: 2.5rem;
    --fontsize-tipo2: 2rem;
    --fontsize-tipo3: 1.75rem;
    --fontsize-tipo4: 1.5rem;
    --fontsize-tipo5: 1rem;
    --fontsize-tipo6: 0.9rem;
    --textcolor-cinza1: #697077;
    --color-amarelo: #fbe969;
    --color-cinza1: #dde1e6;
}

h1 {
    font-size: var(--fontsize-tipo1);
}

h2 {
    font-size: var(--fontsize-tipo3);
}

h3 {
    font-size: var(--fontsize-tipo4);
}

h4 {
    font-size: var(--fontsize-tipo5);
}

body {
    display: flex;
}

.content {
    margin-left: 25%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 3%;
    display: flex;
    height: 80%;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 3%;
}

.titulo_chamado {
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    border: 1px solid #c1c7cd;
    border-radius: 5px;
    padding: 3%;

    & input {
        border: none;
        background-color: #ffffff;
        outline: none;
        font-size: 16px;
        width: 100%;
        height:40px ;
        align-self: center;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid transparent; 

        &:focus-within {
            border: 1px solid #ffe730;
        }

    }
}

.descricao {
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    border: 1px solid #c1c7cd;
    border-radius: 5px;
    padding: 3%;
    height: 70%;
}

.linha {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 5px;
}

.iptcaixa {
    border: none;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent; 
}

.iptcaixa:focus {
    border: 1px solid #ffe730;
    outline: none; /* opcional: remove contorno azul padrão */
}

.enviar {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}

button {
    border: none;
    background-color: #fbe969;
    padding: 0 7% ;
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;

    &:hover{
    background-color: #ffe730;

    }
}

.file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    width: fit-content;
}

.file-label {
    background-color: #fbe969;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.file-label:hover {
    background-color: #ffe730;
}

#fileInput {
    display: none;
}

#fileName {
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}