/* :root {
  --borda-padrao-box: 0.35vh #dde1e6 solid;
  --fontsize-tipo1: 3.5vw;
  --fontsize-tipo2: 3vw;
  --fontsize-tipo3: 2.25vw;
  --fontsize-tipo4: 1.5vw;
  --fontsize-tipo5: 1vw;
  --fontsize-tipo6: 0.9vw;
  --textcolor-cinza1: #697077;
  --color-amarelo: #fbe969;
  --color-cinza1: #dde1e6;
} */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

/* .section1 {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-left: 20%;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: red;
} */

.sub-section1 {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  width: 100%;
  height: 100%;
  margin-left: 25%;
  /* height: max-content; */
  /* background-color: blue; */
  gap: 4vh;

  h1 {
    /* font-size: var(--fontsize-tipo1); */
    margin-top: 30px;
    font-size: 3rem;
  }

  h2 {
    /* font-size: var(--fontsize-tipo3); */
    font-size: 2rem;
  }

  #list-filter {
    width: 75%;
    gap: 3%;
    align-items: end;
  }
  #list-table {
    flex-direction: column;
    min-width: 50%;
    width: 60%;
    gap: 5vh;
    margin-bottom: 50px;

  }
  #list-cards {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 2%;
    margin-bottom: calc(2%);
  }
  #grid-kpi-table {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 2.5% 2.5;

    .select_main {
      display: flex;
      flex-direction: column;
      width: 30%;

      select,
      input {
        outline: 0px;
        border: none;
        justify-content: center;
        align-items: center;
        height: 6vh;
        padding: 0 2vh;
        color: var(--textcolor-cinza1);
        border: var(--borda-padrao-box);
        border-radius: 0vw;
        box-sizing: border-box;
        font-size: var(--fontsize-tipo6);
      }
    }
  }
  #confirm_button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fontsize-tipo6);
    border-radius: 1vh;
    background-color: var(--color-amarelo);
    padding: 0vh 2%;
    height: 6.5vh;
  }
}

.titulo_dashRT {
  display: flex;
  font-size: 35px;
  padding: 30px;
  color: rgb(71, 71, 71);
  height: 20px;
  width: 500px;
}

.div_select_setor {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: center;
}

.select_setor {
  display: flex;
  width: 120px;
  height: 30px;
}

.box_kpi {
  border: 1px solid blue;
  display: flex;
  height: 60px;
  width: 90%;
  justify-content: space-around;
  font-size: 15px;
  justify-self: center;
}

.inicio_dashboard_RT {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-generic {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--borda-padrao-box);
  width: calc(100% - 4vh);
  height: calc(100% - 4vh);
  gap: 2.5vh;
  padding: 2vh;

  .component-name {
    width: 100%;
    height: 5%;
    font-size: var(--fontsize-tipo5);
    display: flex;
  }

  .data-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: var(--borda-padrao-box);
    width: calc(90% - 4vh);
    padding: 2vh;

    .sub-data-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      width: 100%;
      height: 100%;
      .data-title {
        width: 100%;
        word-wrap: break-word;
        font-size: var(--fontsize-tipo5);
        font-weight: bold;
      }
      .data {
        font-size: var(--fontsize-tipo4);
        font-weight: bold;
        color: var(--textcolor-cinza1);
      }
    }
  }
}

#kpi-table {
  display: flex;
  flex-direction: column;
  border: var(--borda-padrao-box);
  padding: 1vh 2vh;

  .kpi-title {
    font-weight: bold;
    font-size: var(--fontsize-tipo6);
  }

  .kpi-data {
    font-weight: bold;
    color: var(--textcolor-cinza1);
    font-size: var(--fontsize-tipo5);
  }
}

/* .title_select {
  width: 100%;

  font-size: var(--fontsize-tipo6);
} */
