
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

.sub-section1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 25%;
  gap: 4vh;

  h1 {
    margin-top: 30px;
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  #list-filter {
    width: 75%;
    gap: 3%;
    align-items: end;
  }
  #list-table {
    flex-direction: row;
    width: 80%;
    margin-bottom: 50px;
    align-items: center;
  }
  #list-cards {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 2%;
    margin-bottom: calc(2%);
  }
  #grid-kpi-table {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 2.5%;

    .select_main {
      display: flex;
      flex-direction: column;
      width: 250px;
      min-width: 150px;

      select,
      input {
        outline: 0px;
        border: none;
        justify-content: center;
        align-items: center;
        height: 6vh;
        padding: 0 2vh;
        color: var(--textcolor-cinza1);
        border: var(--borda-padrao-box);
        border-radius: 0vw;
        box-sizing: border-box;
        font-size: var(--fontsize-tipo6);
      }
    }
  }
  #confirm_button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fontsize-tipo6);
    border-radius: 1vh;
    background-color: var(--color-amarelo);
    padding: 0vh 2%;
    height: 6.5vh;
  }
}

.titulo_dashRT {
  display: flex;
  font-size: 35px;
  padding: 30px;
  color: rgb(71, 71, 71);
  height: 20px;
  width: 500px;
}

.div_select_setor {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: center;
}

.select_setor {
  display: flex;
  width: 120px;
  height: 30px;
}

.box_kpi {
  border: 1px solid blue;
  display: flex;
  height: 60px;
  width: 90%;
  justify-content: space-around;
  font-size: 15px;
  justify-self: center;
}

.inicio_dashboard_RT {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-generic {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--borda-padrao-box);
  width: 67vw;
  gap: 2.5vh;

  .component-name {
    width: 100%;
    height: 5%;
    font-size: var(--fontsize-tipo5);
    display: flex;
  }

  .data-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: var(--borda-padrao-box);
    width: calc(90% - 4vh);
    padding: 2vh;

    .sub-data-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      width: 100%;
      height: 100%;
      .data-title {
        width: 100%;
        word-wrap: break-word;
        font-size: var(--fontsize-tipo5);
        font-weight: bold;
      }
      .data {
        font-size: var(--fontsize-tipo4);
        font-weight: bold;
        color: var(--textcolor-cinza1);
      }
    }
  }
}

#kpi-table {
  display: flex;
  flex-direction: column;
  border: var(--borda-padrao-box);
  padding: 1vh 2vh;

  .kpi-title {
    font-weight: bold;
    font-size: var(--fontsize-tipo6);
  }

  .kpi-data {
    font-weight: bold;
    color: var(--textcolor-cinza1);
    font-size: var(--fontsize-tipo5);
  }
}

#modelos-id{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

#modelos-id td, #modelos-id th{
  padding: 15px;
}

#modelos-id tr:hover {background-color: #ededed;}

table th{
  text-align: left;
  background-color: #c9c9c9;
  color: black;
}

table{
  border: 1px solid #c9c9c9;
  border-collapse: collapse;
}

.tabela-maquinas th{
  background-color: #FBE969;
}

.tabela-maquinas td{
  border: 1.5px solid #C2C2C2;
}

.containerBaixo{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: start;
}

.container-alerta-select{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin: 1%;
}

.container-alerta{
  display: flex;
}

.alertas-box{
  height: 150px;
  width: 150px;
  border: solid #C2C2C2;
  margin: 5px;
  align-items: center;
}

.alertas-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

#list-table{
  gap: 10px;
}
