@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --fontsize-tipo1: 2.5rem;
    --fontsize-tipo2: 2rem;
    --fontsize-tipo3: 1.75rem;
    --fontsize-tipo4: 1.5rem;
    --fontsize-tipo5: 1rem;
    --fontsize-tipo6: 0.9rem;
    --color-amarelo: #fae969;
}

body {
    display: flex;
    background-color: #d1d1d1;
}

.titulo-screen {
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.att-screen {
    display: flex;
    align-items: center;
}

.icon-verde {
    background-color: rgb(0, 196, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-right: 5px;
    box-sizing: border-box;
}

.content {
    margin-left: 20%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2% 2% 0 2%;
    box-sizing: border-box;
}

.div-superior {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    min-height: 0;
}

.box-grafico {
    background-color: #ffffff;
    height: 100%;
    width: 59.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#timelineAlertas {
    width: 100%;
    max-height: 90%;
    padding: 0;
    margin: 0;
    min-height: 0;
}

#graficoRosca {
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 0;
}

.box-pizza {
    background-color: #ffffff;
    height: 100%;
    width: 39.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
}

.span-titulo {
    font-size: 18px;
}

.span-dado {
    font-size: 26px;
    font-weight: 600;
}

.span-obs {
    font-size: 14px;
    opacity: 50%;
}

.div-central {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
    flex-grow: 1;
    min-height: 0;
}

.box-tickets {
    background-color: #ffffff;
    height: 100%;
    width: 59.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.box-ranking {
    background-color: #ffffff;
    height: 100%;
    width: 39.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
}

.titulo-grafico {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-amarelo);
}

#title-lista {
    width: 50%;
    justify-content: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.subtitulo-grafico {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
}

.alertas-com-filtros {
    background-color: var(--color-amarelo);
    display: flex;
    border-radius: 5px 5px 0 0;
    align-items: center;
    height: 8%;
}

.filtros-direita {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.select-urgencia {
    border-radius: 5px;
    width: 30%;
    height: 80%;
    text-align: center;
    border: 0px;
    margin-right: 5px;
}

.searh-urgencia {
    border-radius: 5px;
    width: 50%;
    height: 80%;
    border: 0px;
    padding: 5px;
    box-sizing: border-box;
}

.lista-tickets {
    width: 100%;
    height: 92%;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
    min-height: 0;
}

.ticket-layout {
    width: 100%;
    height: 90px;
    display: flex;
}

.ticket-layout.par {
    background-color: #f1f1f1;
}

.ticket-layout.impar {
    background-color: #ffffff;
}

.box-urgencia {
    height: 100%;
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-urgencia {
    height: 80%;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
}

.box-urgencia.critico {
    border-left: 3px #ff0000 solid;
}

.box-urgencia.grave {
    border-left: 3px rgb(255, 174, 0) solid;
}

.box-urgencia.leve {
    border-left: 3px #f2c94c solid;
}

.div-urgencia.critico {
    background-color: red;
}

.div-urgencia.grave {
    background-color: rgb(255, 174, 0);
}

.div-urgencia.leve {
    background-color: #f2c94c;
}

.text-urgencia {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.box-esquerda {
    padding: 0 0 0 20px;
    box-sizing: border-box;
    height: 100%;
    width: 47%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-direita {
    padding: 0 20px 0 0;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-infos {
    font-size: 14px;
}

#id-dispositivo {
    font-weight: bold;
    white-space: nowrap;
}

#hrDeAbertura {
    font-size: 12px;
    opacity: 50%;
}

#prazoSLA {
    text-align: end;
}


.buttons-tickets {
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
}

.btn {
    background-color: var(--color-amarelo);
    border: 0px;
    width: 90px;
    font-weight: bold;
    transition: 0.2s all;
}

.btn:hover {
    background-color: #fbe328;
}

#btn-designar {
    width: 70px;
}

.buttons-tickets.select {
    max-width: 120px;
    text-align: center;
    border: 2px solid #fbe328;
}

/* RECORRENCIA DE ALERTAS */
.box-ranking table {
    width: 100%;
    border-collapse: collapse;
    font-family: Roboto;
    height: 91%;
}

thead {
    background-color: #fae969;
}

tbody {
    flex: 1;
}

th,
td {
    padding: 8px;
    text-align: center;
}

caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.tr-posicoes {
    height: 20%;
}

.tr-posicoes.vermelhao {
    background-color: red;
    color: white;
}

.tr-posicoes.vermelho {
    background-color: rgb(255, 132, 132);
    color: white;
}

.text-posicao {
    width: 20%;
    font-size: 20px;
}

.text-tipo {
    width: 60%;
    font-size: 20px;
}

.text-qtd {
    width: 20%;
    font-weight: bold;
    font-size: 20px;
}

/* --- INÍCIO DA VERSÃO RESPONSIVA PARA DISPOSITIVOS MÓVEIS --- */
@media (max-width: 450px) {

    /* --- 1. AJUSTES GERAIS E LAYOUT PRINCIPAL --- */
    body {
        display: block;
    }

    .content {
        margin-left: 0;
        width: 100%;
        height: auto;
        padding: 4% 3% 0 3%;
    }

    .titulo-screen {
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
    }

    .titulo-screen h1 {
        font-size: 1.7rem;
    }

    .div-superior,
    .div-central {
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    .box-grafico,
    .box-pizza,
    .box-tickets,
    .box-ranking {
        width: 100%;
        height: auto;
    }

    /* ALTERAÇÃO DE ORDEM PARA O MOBILE */
    .box-ranking {
        order: 1;
        /* Define a Recorrência como o primeiro item */
    }

    .box-tickets {
        order: 2;
        /* Define a Lista de Tickets como o segundo item */
    }


    /* --- 2. AJUSTES NA LISTA DE ALERTAS (TICKETS) --- */

    .ticket-layout {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        gap: 10px;
    }

    .box-urgencia {
        height: 20px;
        width: 100%;
        border-left: none;
        border-top: 5px solid;
        border-radius: 0 5px 5px 0;
    }

    .text-urgencia {
        justify-content: center;
        align-items: center;
        writing-mode: horizontal-tb;
    }

    .div-urgencia {
        height: 100%;
        border-radius: 5px;
    }

    .box-urgencia.critico {
        border-top-color: #ff0000;
    }

    .box-urgencia.grave {
        border-top-color: rgb(255, 174, 0);
    }

    .box-urgencia.leve {
        border-top-color: #f2c94c;
    }

    .titulo-grafico {
        font-size: 1rem;
    }

    #title-lista {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filtros-direita {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .alertas-com-filtros {
        display: flex;
        flex-direction: column;
    }

    #search-dispositivo {
        width: auto;
        height: 85%;
        text-align: center;
    }

    #select-urgencia {
        height: 85%;
        width: 30%;
        margin-right: 5px;
    }

    .box-esquerda,
    .box-direita {
        width: 100%;
        padding: 5px;
        padding: 0;
        box-sizing: border-box;
        align-items: center;
        grid-area: 2px;
    }

    .box-direita {
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
    }

    #descricao {
        padding: 6px;
    }

    #prazoSLA {
        text-align: center;
        width: 100%;
    }

    .box-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .buttons-tickets.select {
        max-width: 150px;
        margin: 0 5px;
    }

    /* --- 3. AJUSTES NOS GRÁFICOS E TABELAS --- */

    .box-grafico {
        min-height: 250px;
    }



    .box-pizza {
        min-height: 300px;
    }

    .box-ranking {
        overflow-x: auto;
    }

    .box-ranking table {
        width: auto;
        min-width: 100%;
    }

    .text-posicao,
    .text-tipo,
    .text-qtd {
        font-size: 0.9rem;
    }
}

/* --- FIM DA VERSÃO RESPONSIVA --- */