@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --borda-padrao-box: 0.35vh #dde1e6 solid;
    --fontsize-tipo1: 2.5rem;
    --fontsize-tipo2: 2rem;
    --fontsize-tipo3: 1.75rem;
    --fontsize-tipo4: 1.5rem;
    --fontsize-tipo5: 1rem;
    --fontsize-tipo6: 0.9rem;
    --textcolor-cinza1: #697077;
    --color-amarelo: #fae969;
    --color-cinza1: #dde1e6;
}

h1 {
    font-size: var(--fontsize-tipo1);
}

h2 {
    font-size: var(--fontsize-tipo3);
}

h3 {
    font-size: var(--fontsize-tipo4);
}

h4 {
    font-size: var(--fontsize-tipo5);
}

body {
    display: flex;
    background-color: #F1F1F1;
}

.content {
    margin-left: 20%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
}

.div-superior {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.box-grafico {
    background-color: #ffffff;
    height: 100%;
    width: 59.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#timelineAlertas {
    width: 100%;
    max-height: 90%;
    padding: 0;
    margin: 0;
}

#graficoRosca {
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 0;
}

.box-pizza {
    background-color: #ffffff;
    height: 100%;
    width: 39.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
}

.span-titulo {
    font-size: 18px;
}

.span-dado {
    font-size: 26px;
    font-weight: 600;

}

.span-obs {
    font-size: 14px;
    opacity: 50%;

}

.div-central {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.box-tickets {
    background-color: #ffffff;
    height: 100%;
    width: 59.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
}

.box-ranking {
    background-color: #ffffff;
    height: 100%;
    width: 39.5%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
}



.div-inferior {
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(194, 194, 194);
    justify-content: space-between;
}


.titulo-grafico {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-amarelo);
}

.subtitulo-grafico {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.alertas-com-filtros {
    background-color: var(--color-amarelo);
    display: flex;
    border-radius: 5px 5px 0 0;
    align-items: center;
    height: 30px;

}

.filtros-direita{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.select-urgencia{
    border-radius: 5px;
    width: 30%;
    height: 80%;
    text-align: center;
    border: 0px;
    margin-right: 5px;
}

.searh-urgencia{
    border-radius: 5px;
    width: 50%;
    height: 80%;
    border: 0px;
    padding: 5px;
    box-sizing: border-box;
}

.lista-tickets{
    width: 100%;
    height: 43vh;
    overflow-y: auto;
    border-radius:   0 0 10px 10px;
}

.ticket-layout {
    width: 100%;
    height: 80px;
    display: flex;
}

.ticket-layout.par {
    background-color: #f1f1f1;
}

.ticket-layout.impar {
    background-color: #ffffff;
}

.box-urgencia {
    height: 100%;
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-urgencia {
    height: 80%;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
}

.box-urgencia.critico{
    border-left: 3px red solid;
}

.box-urgencia.grave{
    border-left: 3px rgb(255, 174, 0) solid;
}   

.box-urgencia.leve{
    border-left: 3px rgb(0, 208, 255) solid;
}

.div-urgencia.critico{
    background-color: red;
}

.div-urgencia.grave{
    background-color: rgb(255, 174, 0);
}

.div-urgencia.leve{
    background-color: rgb(0, 208, 255);
}

#text-urgencia {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    color: white;
    font-weight: bold;
    font-size: 14px;
}


.box-esquerda {
    padding: 0 0 0 20px;
    box-sizing: border-box;
    height: 100%;
    width: 47%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-direita {
    padding: 0 20px 0 0;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-infos {
    font-size: 14px;


}

#id-dispositivo {
    font-weight: bold;
}

#hrDeAbertura {
    font-size: 12px;
    opacity: 50%;
}

#prazoSLA {
    text-align: end;
}


.buttons-tickets {
    border-radius: 5px;
    height: 25px;
    cursor: pointer;

}

#button-detalhes {
    background-color: var(--color-amarelo);
    border: 0px;
    width: 100px;
    font-weight: bold;
    transition: 0.2s all;


}

#button-detalhes:hover {
    background-color: #fbe328;

}


#selection-responsavel {
    width: 170px;
    text-align: center;
    border: 2px solid #fbe328;
}


/* RECORRENCIA DE ALERTAS */
.box-lista {
    width: 100%;
    height: 91%;
}

.div-lista {
    width: 100%;
    height: 20%;
    background-color: rgb(255, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.box-ranking table {
    width: 100%;
    border-collapse: collapse;
    font-family: Roboto;
    height: 91%;
}

thead {
    background-color: #fae969;
}

tbody{
    flex: 1;
}

th,td {
    padding: 8px;
    text-align: center;
}



caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.tr-posicoes{
    height: 20%;
    border-top: 1px rgb(223, 223, 223) solid;
}

.text-posicao{
    width: 20%;
}

.text-tipo{
    width: 60%;

}

.text-qtd{
    width: 20%;
    font-weight: bold;
}