/* Reset de estilos e definição de box-sizing */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Variáveis CSS */
:root {
  --autura-header: 300vh;
  --largura-all: 100%;  
  /* --autura-header: 1000px; */
  /* --largura-all: 1500px; */
}

/* Estilos gerais do body */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background: linear-gradient(to bottom, #ffffff 70%, #212529 30%);
  height: var(--autura-header);
  width: var(--largura-all);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
}

/* Nav Bar */
.container_nav {
  width: 100%;
  height: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  height: 100%;
  width: 11%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo span {
  font-size: 160%;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  width: 68%;
}

.itens_nav {
  display: flex;
  justify-content: center;
  width: 65%;
}

.itens_nav li {
  width: 10%;
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 25px;
}

.itens_nav a {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.itens_nav a:hover {
  color: #f39c12;
}

.itens_nav li:last-child {
  margin-right: 0;
}

.btn_sentinelas{
  background-color: #FBE969;
  height: 70%;
  width: 18%;
  padding: 10px 20px;
  border-radius: 35px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15%;
}

.btn_sentinelas a {
  color: #1a1a1a;
  text-decoration: none;
}

.btn_sentinelas:hover {
  background-color: #fdcf00;
}

/* Section 1 */
.container_section1 {
  height: 84%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section1_titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.container_section1 span, .section1_titulo span{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1_titulo div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 100%;
}
.section1_titulo div span{
  background-color: #FFE792;
}

#imagemRobo1, #imagemRobo2{
  height: 60vh;
  width: 50%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#imagemRobo1{
  background-image: url(../assets/img/robo1.svg);
}
#imagemRobo2{
  background-image: url(../assets/img/robo2.svg);
}
#imagemRobo3{
  background-image: url(../assets/img/robo3.svg);
}

.section1_desc {
  font-size: 200%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1_desc p{
  display: flex;
  text-align: center;
  height: 80%;
  width: 85%;
}

.quatroMotivos {
  height: 48%;
  display: flex;
  align-items: center ;
  justify-content: space-evenly;
}

.motivoUm,
.motivoDois,
.motivoTres,
.motivoQuatro {
  background-color: #dadada;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  width: 21%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.motivoUm:hover,
.motivoDois:hover,
.motivoTres:hover,
.motivoQuatro:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.motivoUm_desc span,
.motivoDois_desc span,
.motivoTres_desc span,
.motivoQuatro_desc span
{
  height: fit-content;
  font-size: small;
  margin-bottom: 50px;
}

.motivoUm_titulo,
.motivoDois_titulo,
.motivoTres_titulo,
.motivoQuatro_titulo {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 3%;
}

.motivoUm_desc,
.motivoDois_desc,
.motivoTres_desc,
.motivoQuatro_desc {
  font-size: 100%;
}

.imgUm, .imgDois, .imgTres, .imgQuatro {
  height: 40%;
  width: 40%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imgUm {
  background-image: url(../assets/img/relogio.svg);
}

.imgDois {
  background-image: url(../assets/img/chave.svg);
}

.imgTres {
  background-image: url(../assets/img/alerta.svg);
}

.imgQuatro {
  background-image: url(../assets/img/lampada.svg);
}

.container_monitoramento{
  background-color: #FFE792;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container_monitoramento h1{
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monitoramento_filho{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitoramento_img{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.monitoramento_texto{
  height: 100%;
  width: 33%;
  font-size: 130%;
  display: flex;
  text-align: left;
  align-items: center
}   

.imagemRobo3{
  background-image: url(../assets/img/robo4.svg);
  height: 75%;
  width: 75%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.monitoramento_img_legenda{
  display: flex;
  justify-content: center;
  align-items: center;
}



.monitoramento_imgUm, 
.monitoramento_imgDois, 
.monitoramento_imgTres, 
.monitoramento_imgQuatro{
  height: 30%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 60%;
}

.monitoramento_imgUm{
  background-image: url(../assets/img/indicador.svg);
}
.monitoramento_imgDois{
  background-image: url(../assets/img/Alert.svg);
}
.monitoramento_imgTres{
  background-image: url(../assets/img/Chamado.svg);
}
.monitoramento_imgQuatro{
  background-image: url(../assets/img/List.svg);
}


.footer-link {
  color: #6c757d;
  text-decoration: none;
}
.footer-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #343a40;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
}



/* Tamanho do carrossel */
.carousel {
  background-color: #5c2222;
  width: 100%;
  height: 44%;
}

/* Ajuste a altura do carrossel */
.carousel-inner {
  height: 100%;
}

/* Imagens do carrossel */
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}