
@media only screen and (max-width: 1450px) {
    .btn_sentinelas{
        width: 22%;
    }
    .itens_nav{
        width: 33%;
        gap: 10%;  
    }
    .carousel {
        width: 100%;
        height: 35%;
      } 
}


@media only screen and (max-width: 1160px) {
    .btn_sentinelas{
        width: 25%;
    }
    .itens_nav{
        width: 40%;
        gap: 12%;  
    }
    .carousel {
        width: 100%;
        height: 23%;
      } 
}


@media only screen and (max-width: 961px){
    :root{
        --autura-header: 2150px;
    }
    .carousel {
    width: 100%;
    height: 18%;
    }
    .quatroMotivos{
        height: 40%;
    }
    .monitoramento_filho{
        flex-direction: column;
        justify-content: flex-start;
        gap: 18%;
    }
    .monitoramento_img{
        width: 45%;
        height: 55%;
    }
    .monitoramento_texto{
        width: 95%;
        font-size: 18px;
    }
}


@media only screen and (max-width: 860px) {
    :root{
        --autura-header: 2750px;
    }
    .btn_sentinelas{
        width: 29%;
    }
    .logo span{
        display: none;
    }
    .carousel {
        width: 100%;
        height: 20%;
    }
    .quatroMotivos{
        flex-wrap: wrap;
        align-items:space-around;
        gap: 3%;
        height: 45%;
    }

    .quatroMotivos div{
        justify-content: space-around;
        align-items: center;
        height: 40%;
        width: 45%;
        gap: 5%;
    }
    .quatroMotivos div div{
        width: 85%;
    }
    .quatroMotivos div .monitoramento_imgUm,
    .quatroMotivos div .monitoramento_imgDois,
    .quatroMotivos div .monitoramento_imgTres,
    .quatroMotivos div .monitoramento_imgQuatro{
        height: 20%;
        width: 30%;
        margin-bottom: 15%;
    }
    .monitoramento_img{
        width: 60%;
    }
}


@media only screen and (max-width: 730px){
    .btn_sentinelas div{
        display: none;
    }
    .carousel {
        height: 17%;
    }
}


@media only screen and (max-width: 620px) {
    .container_section1 h1{
        font-size: 200%;
    }
    .section1_desc p{
        font-size: 88%;
    }
    .itens_nav{
        width: 33%;
        gap: 20%;  
    }
    .btn_sentinelas{
        width: 30%;
    }
    .carousel {
        height: 15%;
    }
    .monitoramento_img{
        width: 75%;
    }
}

@media only screen and (max-width: 560px){
    :root{
  --largura-all: 104vw;
    }
}


@media only screen and (max-width: 545px) {
    .container_section1 h1{
        font-size: 190%;
    }
    .section1_desc p{
        font-size: 88%;
        width: 93%;
        height: 1000px;
        text-align: center;
        align-items: center;
    }
    .container_nav{
        justify-content: space-between;
    }
    .carousel {
        height: 20%;
    }
    .carousel {
        height: 14%;
    }
}


@media only screen and (max-width: 511px) {
    .container_section1 span{
        height: 5%;
    }
    .section1_desc p{
        height: 75%;
    }
    .container_nav{
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;
        height: 200px;
        gap: 20px;
        font-size: 20px;
    }
    .container_nav .logo{
        height: 70%;
    }
    .itens_nav{
        width: 100%;
        gap: 10%;
    }
    .btn_sentinelas{
        width: 65%;
    }

    .container_section1 h1{
        text-align: center;
    }
    
    :root{
        --autura-header: 5550px;
    }
    .quatroMotivos{
        gap: 0%;
        height: 55%;
    }

    .quatroMotivos div{
        height: 18%;
        width: 90%;
        font-size: 120%;
    }

    .carousel {
        height: 3.5%;
    }
    .monitoramento_img{
        width: 100%;
        height: 20%;
    }
    footer{
        height: 1px !important;
    }
}