.table_title,
.table_data {
    font-size: 15px;
}

#table_title_rt,
#table_data_rt {
    width: 14%;
}

#table_title1_rt,
#table_data1_rt {
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 4vh;
}

button {
    background-color: #fff9cf;
    border-radius: 4px;
}

.table_data :hover {
    background-color: #fff9cf;
    border: 1px;
    border-radius: 4px;
}