:root {
  --borda-padrao-box: 0.35vh #dde1e6 solid;
  --fontsize-tipo1: 3.5vw;
  --fontsize-tipo2: 3vw;
  --fontsize-tipo3: 2.25vw;
  --fontsize-tipo4: 1.5vw;
  --fontsize-tipo5: 1vw;
  --fontsize-tipo6: 0.9vw;
  --textcolor-cinza1: #697077;
  --color-amarelo: #fbe969;
  --color-cinza1: #dde1e6;
}

.table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid var(--color-cinza1);
}

.table_title, .table_data {
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 6vh;
}

#table_title_rt, #table_data_rt {
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 3vh;
}

.table_head {
  background-color: var(--color-amarelo);
} 

.table_title {
  font-size: var(--fontsize-tipo5);
  font-weight: bold;
}

.table_data {
  font-size: var(--fontsize-tipo6);

  border-top: 1px solid var(--color-cinza1);
  border-bottom: 1px solid var(--color-cinza1);

}